@model HvisaoApp.Models.Lentes

@{
    ViewBag.Title = "Excluir Solicitação";
}

<h2>Excluir</h2>

<h3>Tem certeza que deseja excluir os dados?</h3>
<div>
    <h4>Lentes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entregue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entregue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
