@using System.Data.SqlClient
@model IEnumerable<HvisaoApp.Models.Lentes>

@{
    ViewBag.Title = "Solicitação de Lentes";
}

<h2>Solicitação de Lentes</h2>

<p>
    @Html.ActionLink("Nova Solicitação", "Create")
</p>

@using (Html.BeginForm("Index", "Lentes", FormMethod.Get))
{
    <p>
        Pesquisar por Nome: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input class="btn btn-sm btn-primary" type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Registro", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Paciente", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Descrição", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DataPedido", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entregue)
        </th>
        <th>Ações</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entregue)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SolicitacaoId }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.SolicitacaoId }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.SolicitacaoId })
        </td>
    </tr>
}

</table>
